<h2>Schedule and View Appointments</h2>
  <ul>
    <li><%= link_to "View all appointments", appointments_path %></li>
    <li> 
      <%= form_tag '/appointments/by_date' do %>
      <%= label_tag(:q, "View by date:") %>
      <%= select_date Date.today %>
      <%= submit_tag("Submit") %>
      <% end %>

</li>
    <li><%= link_to "Add an appointment", new_appointment_path %></li>
  </ul>
